@model List<MVCRestaurante.Models.Reserva>

<h2>Reservas Registradas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Personas</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reserva in Model)
        {
            <tr>
                <td>@reserva.Nombre</td>
                <td>@reserva.Telefono</td>
                <td>@reserva.FechaReserva.ToShortDateString()</td>
                <td>@reserva.HoraReserva</td>
                <td>@reserva.Personas</td>
                <td>@reserva.Estado</td>
            </tr>
        }
    </tbody>
</table>
